# Ignorar diretório MinIO
lab/volumes/minio/
lab/volumes/kibana/
lab/volumes/elasticsearch/
lab/volumes/postgres/

# Ignorar diretórios específicos dentro de Nifi/conf
lab/volumes/nifi/conf/archive/
lab/volumes/nifi/content_repository/
lab/volumes/nifi/database_repository/
lab/volumes/nifi/flowfile_repository/
lab/volumes/nifi/provenance_repository/
lab/volumes/nifi/state/
lab/volumes/nifi/logs/

.venv

notebooks/.ipynb_checkpoints

.DS_Store
lab/volumes/dados_kibana_elastic.zip
